<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link css-->
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/9324/9324616.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>About</title>

 
</head>
<body>
    
    <header>
        <div class="container">
            <div class="top-row">
                <a href="/" class="logo">florista</a>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/sections">Sections</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="icons">
                    <a onclick="goToBasket()" class="basket-container">
                        <lord-icon
                            src="https://cdn.lordicon.com/mfmkufkr.json"
                            trigger="hover"
                            style="width:35px;height:35px">
                        </lord-icon>
                         <div class="cart-icon basket-badge" onclick="goToBasket()">
                           
                            <div class="cart-count" id="cartCount">0</div>
                        </div>
                    </a>
                    
           <a href="/favourite">
            <lord-icon
            src="https://cdn.lordicon.com/xyboiuok.json"
            trigger="hover"
            style="width:35px;height: 35px" >
        </lord-icon>
           </a>

           <a href="/search">
            <lord-icon
             src="https://cdn.lordicon.com/kkvxgpti.json"
              trigger="hover"
              style="width:35px;height:35px" id="search-icon">
           </lord-icon>
           </a>

           
     
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="cll">
            <div class="container2">
                <h1>About Us</h1>
                <div class="line"></div> <!-- السطر تحت العنوان -->
            </div>
        </div>

        <div class="main">
            <div class="content">
                <div class="text1">
                    <div class="tx1">Welcome to our floral haven, where beauty flowers and dreams take flight.</div>
                    <div class="tx2">At Florista, our passion for flowers is deeply rooted in a love for nature's beauty and the joy it brings to people's lives.</div>
                    <div class="tx3">Founded with a vision to spread happiness through exquisite floral arrangements, we are dedicated to providing our customers with the highest quality flowers and personalized service.</div>
                </div>
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <img src="https://dobrynow.pl/wp-content/uploads/2022/02/lokale_21-0ocwstgs.jpg" alt="Front Image">
                        </div>
                        <div class="back">
                            <img src="https://img.freepik.com/free-photo/pretty-florist-preparing-bouquet_23-2147742984.jpg" alt="Back Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-left">
            <p>Our shop address <br> Arasat St. Karada, Baghdad, Iraq</p>
        </div>
        <div class="footer-right">
            <div>
                <img src="../static/images/feacbook.png" alt="Facebook">
                <img src="../static/images/instagram.png" alt="Instagram">
                <img src="../static/images/snapchat.png" alt="Snapchat">
            </div>
            <div class="email">
                <img src="../static/images/gmail.png" alt="Gmail">
                <span>florista@gmail.com</span>
            </div>
        </div>
    </footer>
 
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const searchIcon = document.getElementById('search-icon');
            searchIcon.addEventListener('click', () => {
                const searchBarContainer = document.getElementById('search-bar-container');
                if (searchBarContainer) {
                    searchBarContainer.classList.toggle('active');
                }
            });
        });
        function addToCart(itemName, itemPrice,imagepath) {
        let cart = JSON.parse(localStorage.getItem('cart') || '[]');
        cart.push({ name: itemName, price: itemPrice,imagepath:imagepath });
        localStorage.setItem('cart', JSON.stringify(cart));
        updateCartCount()
        alert('Item added to cart!');
    }
        // Function to update the cart count displayed on the cart icon
    // Function to update the cart count displayed on the cart icon
    function updateCartCount() {
     let cart = JSON.parse(localStorage.getItem('cart') || '[]');
     document.getElementById('cartCount').innerText = cart.length; 
    } 


        // Function to navigate to the basket.html
        function goToBasket() {
            window.location.href = 'basket';
        }

        // Update the cart count on page load
        updateCartCount();
    </script>
</body>
</html>
